table > tbody > tr:hover {
  background-color: #dedede;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

td > a {
  color: blue;
}

td > a:hover {
  text-decoration: underline;
}
